@font-face {
  font-family: montserrat_black;
  src: url(/font/Montserrat-Black.ttf);
}

@font-face {
  font-family: raleway_reg;
  src: url(/font/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway_medium;
  src: url(/font/Raleway-Medium.ttf);
}

body {
  background-color: #1c2632;
}

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: montserrat_black;
  font-size: clamp(2rem, 4.5vw, 3.8rem);
  letter-spacing: 2px;
}

h2 {
  font-family: montserrat_black;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h3 {
  font-family: raleway_medium;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p,
ul {
  font-family: raleway_reg;
  font-size: 18px;
}

a {
  font-family: raleway_medium;
}

/* hero container styling */
#hero_container {
  display: grid;
  grid-template-areas:
    "portrait text"
    "portrait links";
  grid-template-columns: 1fr 1fr;
  margin: 50px 0 0;
  gap: 40px;
  color: #ede9de;
  align-items: start;
}

#portrait_img {
  grid-area: portrait;
  max-width: 500px;
  width: 100%; /* Bruger 100 procent så den fylder cellen */
  min-width: 300px;
  height: auto;
  align-self: start;
  border: solid 1px #feb161;
}

.text_content {
  grid-area: text;
}

.hero_header {
  margin-top: -10px;
}

.hero_text {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  margin-top: 30px;
}

.link_btns {
  grid-area: links;
  align-self: end;
  display: flex;
  gap: 70px;
  white-space: nowrap;
}

.link_btns a {
  background-color: #feb161;
  color: #1c2632;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  flex-shrink: 0;
}

/* Tools container styling */
#tools_container {
  background-color: #a35139;
  margin: 2rem 0;
  padding: 20px 2rem;
  color: #ede9de;
}

#tools_container h2 {
  text-align: start;
  margin-bottom: 2rem;
}

.tools_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.primary_tools,
.secondary_tools {
  display: flex;
  flex-direction: column;
}

.headline_maintools,
.headline_primtools {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tools_img {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
  color: #ede9de;
}

.tools_img img {
  max-width: 60px;
  width: auto;
  height: auto;
}

.tools_img p {
  margin: 0;
}

/* Project container styling */
#project_container {
  background-color: #2c3b4e;
  color: #ede9de;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0;
  padding: 20px 2rem;
}

.project_carousel {
  background-color: #ede9de;
  display: block;
  gap: 20px;
}

.project_carousel img {
  max-width: 500px;
  width: 100%;
  min-width: 100px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 768px) {
  main {
    max-width: 600px;
    margin: 0;
  }
  .hero_header {
    font-size: 22px;
    margin-top: 10px;
  }

  p,
  ul {
    font-size: 14px;
  }

  a {
    font-size: 15px;
  }

  #hero_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 40px 10px;
  }

  #portrait_img {
    max-width: 100%;
    min-width: 150px;
  }

  .hero_text {
    width: 100%;
    min-width: 200px;
    margin: 0;
  }

  .link_btns {
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
  }

  .link_btns a {
    font-size: 15px;
    padding: 5px 5px;
    flex: 1 1 auto;
    text-align: center;
  }
}
