@font-face {
  font-family: montserrat_black;
  src: url(/font/Montserrat-Black.ttf);
}

@font-face {
  font-family: raleway_reg;
  src: url(/font/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway_medium;
  src: url(/font/Raleway-Medium.ttf);
}

body {
  background-color: #1c2632;
}

main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: montserrat_black;
  font-size: clamp(2rem, 4.5vw, 3.8rem);
  letter-spacing: 2px;
}

h2 {
  font-family: montserrat_black;
  font-size: clamp(1rem, 2.5vw, 2rem);
}

h3 {
  font-family: raleway_medium;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p,
ul {
  font-family: raleway_reg;
  font-size: 18px;
}

a {
  font-family: raleway_medium;
}

/* hero container styling */
#hero_container {
  display: grid;
  grid-template-areas:
    "portrait text"
    "portrait links";
  grid-template-columns: 1fr 1fr;
  margin: 50px 0 0;
  gap: 40px;
  color: #ede9de;
  align-items: start;
}

#portrait_img {
  grid-area: portrait;
  max-width: 500px;
  width: 100%; /* Bruger 100 procent så den fylder cellen */
  min-width: 300px;
  height: auto;
  align-self: start;
  border: solid 1px #feb161;
}

.text_content {
  grid-area: text;
}

.hero_header {
  margin-top: -10px;
}

.hero_text {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
  margin-top: 30px;
}

.link_btns {
  grid-area: links;
  align-self: end;
  display: flex;
  gap: 70px;
  white-space: nowrap;
}

.link_btns a {
  background-color: #feb161;
  color: #1c2632;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  flex-shrink: 0;
}

/* Tools container styling */
#tools_container {
  background-color: #a35139;
  margin: 2rem 0;
  padding: 20px 2rem;
  color: #ede9de;
}

#tools_container h2 {
  text-align: start;
  margin-bottom: 2rem;
}

.tools_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.primary_tools,
.secondary_tools {
  display: flex;
  flex-direction: column;
}

.headline_maintools,
.headline_primtools {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tools_img {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  align-items: center;
  color: #ede9de;
}

.tools_img img {
  max-width: 60px;
  width: auto;
  height: auto;
}

.tools_img p {
  margin: 0;
}

/* Projekter sektion */
#projects_section {
  margin: 0;
  background-color: #2d4a5e;
  color: #ede9de;
}

.project_header {
  padding: 30px;
}

/* Wrapper element */
.projects_wrapper {
  display: flex;
  margin-left: 10px;
}

/* Projekter container */
.projects_container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Projekt carousel */
.project_carousel {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ede9de;
  border: solid 2px #a35139;
  min-height: 650px; /* Minimumshøjde for at sikre ensartethed */
}

/* Carousel element */
.carousel_element {
  flex: 1;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* Carousel tekst */
.carousel_text {
  background-color: #ede9de;
  color: #1c2639;
  border-top: solid 1px #a35139;
  padding: 10px 20px;
  line-height: 1.5;
  height: auto; /* Lad højden tilpasse sig indholdet */
  min-height: 200px; /* Minimumshøjde for at sikre ensartethed */
}

/* Video container */
.video_container {
  flex: 1;
  display: flex;
  margin: auto;
}

.video_container video {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: auto;
}

/* Footer styling */
.footer {
  margin: 6rem 0 0 0;
  background-color: #a35139;
  color: #ede9de;
  height: 200px;
}

.kontakt-kasse {
  background-color: #feb161;
  color: #1c2632;
  width: 350px;
  padding: 0.1px 60px;
  position: relative;
  bottom: 40px;
  left: 60px;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin: auto;
  text-align: center;
}

.contact a {
  margin: auto;
  text-decoration: none;
  color: #ede9de;
  font-family: raleway_medium;
  font-size: 18px;
}

/* To do app placering */
.todo-appen {
  color: #1c2632;
}

/* to do list styling */
button {
  cursor: pointer;
}

#btntodo,
#btndone {
  display: inline-block;
  padding: 10px 20px;
  max-width: 185px;
  width: 100%;
  text-align: center;
  margin: 10px 0px 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: raleway_medium;
  font-size: 20px;
}

#btntodo {
  background-color: #f0ede4;
  border-left: solid #e3ad55;
  border-right: solid #e3ad55;
  border-top: solid #e3ad55;
  border-bottom: none;
  box-shadow: 5px -3px 5px #23232347;
  position: relative;
  z-index: 1;
}

#btndone {
  background-color: #79744e;
  border: none;
  margin: -19px;
  position: relative;
  z-index: 0;
  border-left: none;
  border-right: solid #e3ad55;
  border-top: solid #e3ad55;
  border-bottom: none;
  box-shadow: -5px -4px 5px #23232347;
}

.tab {
  z-index: 0;
}

.active_tab {
  z-index: 1;
}

#todolist,
#donelist {
  background-color: #f0ede4;
  border-left: solid #e3ad55;
  border-right: solid #e3ad55;
  border-bottom: solid #e3ad55;
  width: 350px;
  height: 350px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#todolist {
  position: relative;
  z-index: 1;
}

#donelist {
  position: relative;
  z-index: 0;
  display: none;
}

#donelist.active {
  display: block;
}

.todo-box {
  display: flex;
}

#todo_input {
  margin: 1.5rem 0px 0px 20px;
  border: solid 2px #4c4d52;
  font-family: poppins;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 12px;
}

#amount_input {
  margin: 1.5rem 0px 0px 10px;
  width: 90px;
  height: 40px;
  border: solid 2px #4c4d52;
  font-family: poppins;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 12px;
}

.writetodobtn {
  margin: 1.5rem 0px 0px 10px;
  border: solid 2px #4c4d52;
  background-color: #4c4d52;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  align-content: end;
  border-radius: 5px;
  font-size: 12;
}

.writetodobtn:hover {
  box-shadow: 1px 1px 5px #33343666;
}

ul,
.done-container {
  display: inline;
}

li {
  display: flex;
  list-style: none;
  border-bottom: solid 1.5px #4c4d52;
  font-family: poppins;
  font-size: 18px;
  margin: 1.5rem 20px 0px 20px;
  padding-bottom: 5px;
  color: #333436;
}

li p {
  margin: auto;
  text-align: left;
}

*:focus {
  outline: none;
}

.list-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  margin: 10px 0;
}

.important {
  margin: 0rem 0px 0px 20px;
  font-size: 12px;
  color: #1c2632;
}

/* Billeder i .info-sektionen */
.uncheckedstar,
.uncheckedcircle,
.trashicon {
  width: 10px !important;
  height: 10px !important;
  vertical-align: middle;
  margin-left: 5px;
}

/* Billeder i todo-listen (dynamisk genereret) */
.checkbox,
.star,
.deleteimg {
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    max-width: 600px;
    margin: 0;
  }
  .hero_header {
    font-size: 22px;
    margin-top: 10px;
  }

  p,
  ul {
    font-size: 14px;
  }

  a {
    font-size: 15px;
  }

  #hero_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 40px 10px;
  }

  #portrait_img {
    max-width: 100%;
    min-width: 150px;
  }

  .hero_text {
    width: 100%;
    min-width: 200px;
    margin: 0;
  }

  .link_btns {
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
  }

  .link_btns a {
    font-size: 15px;
    padding: 5px 5px;
    flex: 1 1 auto;
    text-align: center;
  }

  .tools_columns {
    gap: 1rem;
  }

  .tools_img img {
    width: 30px;
    height: auto;
  }

  .headline_maintools,
  .headline_primtools {
    font-size: 14px;
    font-family: raleway_reg;
  }

  .projects_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }

  .projects_container {
    padding: 0;
  }

  .project_carousel {
    margin: auto;
  }

  #btntodo,
  #btndone {
    max-width: 160px;
  }

  #todolist,
  #donelist {
    min-width: 300px;
    max-width: 300px;
  }
  #todo_input,
  #amount_input {
    display: flex;
    max-width: 70px;
    max-height: 30px;
    font-size: 12px;
  }
  .writetodobtn {
    max-width: 120px;
    max-height: 40px;
    margin-right: 10px;
    padding: 5px;
  }
  li {
    font-size: 16px;
  }

  .checkbox,
  .star,
  .deleteimg {
    max-width: 20px;
    max-height: 20px;
  }

  .contact {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    text-align: left;
  }

  .contact a {
    text-align: left;
    margin: 0 30px;
  }

  .kontakt-kasse {
    width: 150px;
    bottom: 30px;
  }
}
